hardware/CANpaca-EB-schematics/CANpaca-EB-schematics-backups/
hardware/CANpaca-EB-schematics/fp-info-cache
hardware/CANpaca-EB-schematics/#auto_saved_files#
hardware/CANpaca-EB-schematics/_autosave-CANpaca-EB-schematics.kicad_sch
hardware/CANpaca-EB-schematics/_autosave-CANpaca-EB-schematics.kicad_pcb
